.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.link {
	text-decoration: none;
	color: inherit;
}

  body {
    color: var(--brand-color2);
    font-family: "Roboto", sans-serif;
  }
  
  :root {
    --brand-color: #272734;
    --blu-color: #4d5ae5;
    --blu-color2: #404bbf;
    --brand-color2: #2e2f42;
    --white-color: #fff;
    --white-color2: #f4f4fd;
    --white-color3: #e7e9fc;
  }
  
  .logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Releway";
  }
  

  .logo_blue {
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
  }

  .logo {
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #2E2F42;
  }

  .logo_footer {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
  }

  .footer_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
  }

  .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  
  header {
    margin: 0 auto;
    width: 1128px;
    display: flex;
  }

  .header_menu {
    display: flex;
  }

  .header_nav {
    margin: 0 auto;
    width: 1128px;
    display: flex;
  }
  
  .header_nav_list {
    display: flex;
    align-items: center;
  }

  .heder_nav_link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
  }

  .header_nav_link:hover {
    color: var(--blu-color2);
  }

  .header_menu_link:hover {
    color: var(--blu-color2);
  }
  
  .header_contacts {
    display: flex;
  }

  .header_menu_list {
    display: flex;
    align-items: center;
  }

  .header_menu_link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
  }
  
  .header_contacts a {
    color: var(--brand-color2);
  }
  
  .header_contact:hover {
    color: var(--blu-color2);
  }
  .header_contact:focus {
    color: var(--blu-color2);
  }
  
  .header_contact:active {
    color: var(--blu-color);
  }
  
  .main_header {
    background-color: var(--brand-color2);
  }
  
  .main_header h1 {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.08;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
  }
  
  .main_header button {
    width: 170px;
    height: 51px;
    left: 635px;
    top: 432px;
    background: var(--blu-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.19;
    color: var(--white-color);
    border: none;
    cursor: pointer;
  }
  
  .main_header button:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  
  .main_header button:active {
    background: var(--blu-color2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  
  .benefits_title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  
  .benefits_text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
  }

  .main_header_titile{
    position: absolute;
    font-weight: 700;
    font-size: 56px;
    line-height: 3.75;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }

  .process_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
  }

  .benefits_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
  }

  .benefots_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .main_team_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 2.5;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
  }

  .team_list_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
  }

  .team_list_text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--brand-color);
  }

  .portfolio_column_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
  }

  .portfolio_column_text{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  }
  
  footer {
    background-color: var(--brand-color2);
  }
  
  footer p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--white-color3);
  }

  .logo_footer {
    color: var(--white-color2);
    font-family: "Releway";
  }
  
      _Portfolio_

.portfolio_buttons_item button {
    background: var(--white-color2);
    border: 1px solid var(--white-color3);
    border-radius: 4px;
    color: var(--blu-color);
    cursor: pointer;
}
  
  .portfolio_buttons_item button:hover,
  .portfolio_buttons_item button:focus {
    border: 1px solid var(--white-color3);
    background: var(--blu-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    color: var(--white-color);
  }

  .portfolio_buttons_item button {
    border: var(--white-color2);
    background-color: var(--white-color2);
    color: var(--blu-color2)
  }
  
  .portfolio_buttons_item button:active {
    background: var(--blu-color2);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--white-color);
  }
  
  .portfoloio_column_item h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  
  .portfoloio_column_item p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
  }
