* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  body {
    color: var(--brand-color2);
    font-family: "Roboto", sans-serif;
  }
  
  :root {
    --brand-color: #272734;
    --blu-color: #4d5ae5;
    --blu-color2: #404bbf;
    --brand-color2: #2e2f42;
    --white-color: #fff;
    --white-color2: #f4f4fd;
    --white-color3: #e7e9fc;
  }
  
  .logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color2);
  }
  
  .logo span {
    color: var(--blu-color);
    font-family: "Releway";
  }
  
  header {
    margin: 0 auto;
    width: 1128px;
    display: flex;
    justify-content: space-between;
  }
  
  .header_menu {
    display: flex;
  }
  
  .header_menu_list {
    display: flex;
    align-items: center;
  }
  
  .header_menu_list a {
    color: var(--brand-color2);
  }
  
  .header_menu_link:hover,
  .header_menu_link:focus {
    color: var(--brand-color);
  }
  
  .header_menu_link:active {
    color: var(--blu-color);
  }
  
  .header_contacts {
    display: flex;
  }
  
  .header_contacts li a {
    color: var(--brand-color);
  }
  
  .header_contact_tell:hover,
  .header_contact_tell:focus {
    color: var(--brand-color);
  }
  
  .header_contact_tell:active {
    color: var(--blu-color);
  }
  
  .main_header {
    background-color: var(--brand-color2);
  }
  
  .main_header h1 {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.08;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
  }
  
  .main_header button {
    width: 170px;
    height: 51px;
    left: 635px;
    top: 432px;
    background: var(--blu-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.19;
    color: var(--white-color);
    border: none;
    cursor: pointer;
  }
  
  .main_header button:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  
  .main_header button:active {
    background: var(--blu-color2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  
  .all_text h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  
  .all_text p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
  }
  
  .main_img h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.12;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  
  .main_img {
    background-color: var(--white-color2);
  }
  
  .main_team_img h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.12;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  
  .staff h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
  }
  
  .staff p {
    font-size: 16px;
    line-height: 24;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-color);
  }
  
  footer {
    background-color: var(--brand-color2);
  }
  
  footer p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--white-color3);
  }
  
  .logo_footer {
    color: var(--white-color2);
    font-family: "Releway";
  }
  
      _Portfolio_
  
.portfolio_all_buttons button {
    background: var(--white-color2);
    border: 1px solid var(--white-color3);
    border-radius: 4px;
    color: var(--blu-color);
    cursor: pointer;
}
  
  .portfolio_all_buttons button:hover,
  .portfolio_all_buttons button:focus {
    border: 1px solid var(--white-color3);
    background: var(--blu-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    color: var(--white-color);
  }

  .portfolio_all_buttons button {
    border: var(--white-color2);
    background-color: var(--white-color2);
    color: var(--blu-color2)
  }
  
  .portfolio_all_buttons button:active {
    background: var(--blu-color2);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--white-color);
  }
  
  .portfolio_items_and_img h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  
  .portfolio_items_and_img p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
  }